INITIAL_CAPITAL=800
RISK_PER_TRADE=0.10
RISK_REWARD_RATIO=3
MAX_DAILY_LOSS=0.05
MAX_OPEN_POSITIONS=1
TIMEFRAMES=1s,1m,3m,5m,15m,30m,1h,2h,4h
TRADE_TIMEFRAME=15m
MIN_SIGNAL_SCORE=75
POLL_SECONDS=15
CANDLE_LIMIT=250
SYMBOLS=BTCUSDT,ETHUSDT,BNBUSDT,ADAUSDT,DOGEUSDT
BINANCE_TESTNET=true
BINANCE_API_KEY=replace_in_railway
BINANCE_API_SECRET=replace_in_railway
ENABLE_ORDERS=false
